.selection {
  fill: transparent;
  stroke: blue;
  stroke-width: 1px;
  pointer-events: none;
}

.selection_handle {
  fill: blue;
  stroke: blue;
  stroke-width: 1px;
}

.selection_net {
  fill: blue;
  fill-opacity: 0.05;
  stroke: blue;
  stroke-width: 0.5;
}
